@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');

/* Variables */
    :root {
    --font-size:1rem;
}
    .light-mode {
    --navbar-color: #4d5359;
    --navbar-bg-color: #ece7e1;  
    }

    .dark-mode {
        --navbar-color: #ece7e1;
        --navbar-bg-color: #4d5359;
        }

    /* Reset */
    * {
    box-sizing:border-box; 
    outline:none;
    margin:0;
    padding:0;
    }
    ul {
    list-style:none;
    }
    a{
        text-decoration: none;
    }
    /* Basic style */
    body {
    margin:10;
    font-size:var(--font-size);
    font-family: 'Poppins', sans-serif;
    background-color: #ece7e1;
    color: #4a4238;
    }
    .main-content {
    padding:1rem;
    }

    h1{
        font-size: 4rem;
        font-family: Snippet;
    }

    h2{
        font-family: Snippet;
        margin-top: 5%;
        font-size: 3rem;
        color: #c2bbb2;
    }

    p {
        margin: 10px;
    }
    /* Navbar */
    .navbar {  
    display:flex;
    align-items:center; 
    justify-content:space-between;   
    padding:10px;
    font-size:1.1rem;
    background:var(--navbar-bg-color);
    color:var(--navbar-color);
    }
    .navbar__links { 
    display:flex;  
    }
    .navbar__link { 
    padding:0 10px;
    }
    .navbar__link > a { 
    color:var(--navbar-color);
    text-decoration:none;
    }
    .burger {
    display:none;
    }

    .navbar__logo img{
        width: 125px;
    }
/*---- work----*/
.work__section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

/*------ about-*/
.about {
    margin-top: 10%;
}

.container__image {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: auto;

}
.about__image {
    display: none;

}

/*----- contact ----*/
.contact{
    display: flex;
    flex-direction: column;
    align-items:center;

}
/*---- footer ----*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer__line{
    width: 500px;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #4a4238;
}
    

/*---- CARD -----*/
.work{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.card {
    width: 352px;
    height: 400px;
    margin: 10px;
    border-radius: 6px;
}

.card__img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}

.card__title {
    text-align: center;
    margin: 5px;
}

.card__description {
    margin: 5px;
}
    /*  Small device */
    @media screen and (max-width:767.98px) {
    .navbar__links { 
        overflow:hidden;
        display:flex;
        flex-direction:column;
        width:0;
        position:absolute;
        top: 0px;
        right:0;     
        background:var(--navbar-bg-color);     
        transform: translateX(110%);
        transition: all .5s ease-in-out;
    }
    .show-nav .navbar__links { 
        
        width:100vw;    
        transform: translateX(0);
    } 
    .navbar__link {    
        transform: translateX(101%);
        transition: all .5s ease-in-out;
    }
    
    .show-nav .navbar__link  {        
        transform: translateX(0);    
    }   
    .navbar__link > a {
        display:block;
        padding:1rem;
        font-size:1.6rem;
        color:var(--navbar-color);  
        transition: all .4s ease-in-out;
    }
    .navbar__link > a:hover {
        padding-left:2rem;
        letter-spacing:5px;
    }
    
    /* Toggle menu */
    .burger {
        display:block;
        position:relative;
        padding:0;
        width:45px;
        height:45px;
        border:none;
        background:transparent;
        cursor:pointer;
    }
    .bar {
        display:block;    
        width:45px;
        height:4px;  
        border-radius:3px;
        background:var(--navbar-color); 
        transition: all .5s ease-in-out;   
    }
    .bar::before, .bar::after {
        content:"";
        width:45px;
        height:4px;
        position:absolute; 
        left:0;  
        background:var(--navbar-color); 
        border-radius:3px;    
        transition: all .5s ease-in-out;
    }
    .bar::before {
        transform:translateY(-12px)
    }
    .bar::after {
        transform:translateY(12px)
    }
    .show-nav .bar {
        width:0;
        background:transparent;    
    }
    .show-nav .bar::before {
        transform:rotate(45deg);
    }
    .show-nav .bar::after {
        transform:rotate(-45deg);
    }
    
    /* Bonus - Animations */
    .show-nav .first {      
        transition: all 1s ease-out;
    } 
    .show-nav .second {      
        transition: all 1.1s ease-out;
    } 
    .show-nav .third {      
        transition: all 1.2s ease-out;
    } 
    }

    /*  Medium device - Bonus */
    @media screen and (min-width:768px) {
    .navbar__link > a::after {
        display:block;
        content:"";
        width:0;
        height:1px;
        background:var(--navbar-color);
        transition:width .4s;
    }
    .navbar__link:hover > a::after {
        width:100%;
    }
    
    }

    @media screen and (min-width:1122px) {
        .work {
            flex-direction: row;
        }

        .about__image {
            width: 50%;
            display: block;
        
        }
    }
